<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<nav>
		@Html.ActionLink("Home", "Index", "Home")<br/>
		@Html.ActionLink("About", "About", "Home")
	</nav>
	<section>
		@RenderBody()
	</section>
<footer style="overflow: auto; width: 100%">
	<hr/>
	<p>&copy; @DateTime.Now.Year - Pong</p>
</footer>
	@Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
